In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv("../data/interpol_country_data.csv", dtype= {'country_code': 'Int64'})
df = df.replace(np.nan,0).replace(pd.NA,0)
df.head()

  country_name  country_code  total
0  Afghanistan             4    684
1      Albania             8     39
2      Algeria            12     39
3      Andorra            24      2
4       Angola            24      7

In [3]:
f = open('countries-110m.json')
data = json.load(f)
f.close()

In [4]:
country_ids = []
additional_countries = []
for country in data['objects']['countries']['geometries']:
    try: 
        country_ids.append((country['id'],country['properties']['name']))
    except: 
        additional_countries.append((0,country['properties']['name']))

In [5]:
for c_id, c_name in country_ids:
    if not (np.int64(c_id) in set(df["country_code"])):
        additional_countries.append((c_id, c_name))

In [6]:
additional_countries

[(0, 'N. Cyprus'),
 (0, 'Somaliland'),
 (0, 'Kosovo'),
 ('732', 'W. Sahara'),
 ('238', 'Falkland Is.'),
 ('304', 'Greenland'),
 ('260', 'Fr. S. Antarctic Lands'),
 ('748', 'eSwatini'),
 ('540', 'New Caledonia'),
 ('010', 'Antarctica')]

In [7]:
for country_id, country_name in additional_countries:
    df.loc[len(df.index)] = [country_name, country_id, 0]

In [8]:
df.tail(10)

               country_name country_code  total
209               N. Cyprus            0      0
210              Somaliland            0      0
211                  Kosovo            0      0
212               W. Sahara          732      0
213            Falkland Is.          238      0
214               Greenland          304      0
215  Fr. S. Antarctic Lands          260      0
216                eSwatini          748      0
217           New Caledonia          540      0
218              Antarctica          010      0

In [9]:
df.to_csv('../data/cleaned_interpol_country_data.csv', index=False)